[submodule "ArduinoCore-avr"]
	path = Arduino/ArduinoCore-avr
	url = https://github.com/arduino/ArduinoCore-avr.git
[submodule "ArduinoSTL"]
	path = Arduino/ArduinoSTL
	url = https://github.com/jamieb133/ArduinoSTL.git
[submodule "avr-cmake"]
	path = cmake/avr-cmake
	url = https://github.com/jamieb133/avr-cmake.git
