[submodule "ArduinoCore-avr"]
	path = ArduinoCore-avr
	url = https://github.com/arduino/ArduinoCore-avr.git
[submodule "ArduinoSTL"]
	path = ArduinoSTL
	url = https://github.com/mike-matera/ArduinoSTL.git
